/* lightbox */

.basicLightbox{position:fixed;display:flex;justify-content:center;align-items:center;top:0;left:0;width:100%;height:100vh;background:rgba(0,0,0,.8);opacity:.01;transition:opacity .4s ease;z-index:1000;will-change:opacity}.basicLightbox--visible{opacity:1}.basicLightbox__placeholder{max-width:100%;transform:scale(.9);transition:transform .4s ease;z-index:1;will-change:transform}.basicLightbox__placeholder>iframe:first-child:last-child,.basicLightbox__placeholder>img:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{display:block;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;max-width:95%;max-height:95%}.basicLightbox__placeholder>iframe:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{pointer-events:auto}.basicLightbox__placeholder>img:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{width:auto;height:auto}.basicLightbox--iframe .basicLightbox__placeholder,.basicLightbox--img .basicLightbox__placeholder,.basicLightbox--video .basicLightbox__placeholder{width:100%;height:100%;pointer-events:none}.basicLightbox--visible .basicLightbox__placeholder{transform:scale(1)}

:root {
  --text: #FCE3B2;
  --yellow: #FCBF4A;
  --orange: #F77F00;
  --red: #D52928;
}

/* here we go */

body {
  margin: 0;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 17px;
  line-height: 1.65;
  letter-spacing: 1px;
  color: var(--text);
}

#video-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

button#lets-go {
  position: relative;
  appearance: none;
  font-family: inherit;
  border: 3px solid var(--red);
  background: rgba(0,0,0,0.75);
  color: var(--text);
  font-size: 1.5rem;
  line-height: 40px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: pulse 5s infinite;
  padding: 0 1.5rem;
  margin-top: 2rem;
}

button#lets-go:after {
  content: '';
  position: absolute;
  top: 41px;
  left: 50%;
  width: 0; 
  height: 0;
  transform: translateX(-50%); 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--red);
}

button#lets-go:hover {
  border-color:var(--orange);
  animation-play-state: paused;
  cursor: pointer;
}

button#lets-go:hover:after {
  border-top: 20px solid var(--orange);
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0,0,0,0.25);
  transition: background-color 1s ease-out;
}

p.lead {
  font-size: 1.25rem;
}

strong {
  font-weight: 500;
}

/* titles */

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--orange);
}

.title span {
  padding: 0 1rem;
}

.title:before {
  content: '';
  flex: 1;
  border-top: 1px solid var(--red);
}

.title:after {
  content: '';
  flex: 1;
  border-top: 1px solid var(--red);
}

h2#black-ops,
h3#black-ops {
  font-family: 'Black Ops One';
  font-weight: 400;
  font-size: 40px;
  color: var(--red);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.75);
}

h2#black-ops {
  text-align: center;
}

/* starter page */

header {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1,
header h2,
header h3 {
  font-family: 'Black Ops One', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--orange);
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  margin: 0;
}

header div {
  position: relative;
}

header div span {
  position: absolute;
  top: -20px;
  display: inline-block;
  font-size: 50px;
}

header div span.left {
  left: -20px;
  animation: swing 3s infinite;
}

header div span.right {
  right: -20px;
  animation: swing 3.5s infinite;
}

header h1 { font-size: 60px; line-height: 1.25; }
header h2 { font-size: 40px; line-height: 1.25; }
header h3 { font-size: 32px; line-height: 1.25; }

@media (min-width: 768px) {
  header h1 { font-size: 75px }
  header h2 { font-size: 65px }
  header h3 { font-size: 55px }
}

header hr,
footer hr {
  width: 10%;
  margin: 0 auto;
  height: 0px;
  overflow: hidden;
  border: none;
  border-top: 1px solid var(--text);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer hr {
  width: 40%;
}

/* main site */

section {
  margin-bottom: 6rem;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a.cal {
  display: inline-block;
  margin: 0 auto;
  transition: all 291ms ease-out;
  -webkit-backface-visibility: hidden;
}

a.cal img {
  display: block;
  width: 75px;
}

a.cal:hover {
  transform: rotate(10deg) scale(1.1);
}

#wrapper {
  display: none;
}

main {
  padding: 0 15px;
}

main h3 {
  color: var(--orange);
}

@media (min-width: 768px) {
  main {
    max-width: 768px;
    margin: 0 auto;
  }
}

/* footer */

footer {
  position: relative;
  padding: 3rem 15px;
  text-align: center;
}

footer h3 { font-size: 32px; line-height: 1.25; }

/* animations */

@keyframes pulse {
  0%   { transform: scale(1) }
  50%  { transform: scale(1.25) }
  100% { transform: scale(1) }
}

@keyframes swing {
  0%   { transform: translateY(0) }
  50%  { transform: translateY(-30px) }
  100% { transform: translateY(0) }
}

/* utils */

.text-center {
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* header top */

#header-top {
  background: var(--red);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 38px;
  line-height: 38px;
  font-weight: 500;
  transition: top 437ms ease-out;
}

#header-top.hide {
  top: -30px;
}

#header-top a {
  color: #fff;
  text-decoration: none;
  font-size: 90%;
}

/* activities */

.meatlist {
  list-style: none;
  margin: 2rem 3rem 3rem 0;
  padding: 0;
}

.meatlist li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 32px;
}

.meatlist li:before {
  content: '🍖';
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .meatlist li {
    width: calc(50% - 32px);
    float: left;
  }
  .meatlist.stacked li {
    width: 100%;
    float: none;
  }
}

.meatlist a {
  color: inherit;
}

.meatlist a:hover {
  text-decoration: none;
}

/* footer bottom */

#footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-image: url('img/flame2.gif');
  background-repeat: repeat-x;
  background-size: contain;
}

footer h3 {
  margin-bottom: 150px;
}

/* question btn */

button.question {
  appearance: none;
  display: inline;
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
  letter-spacing: inherit;
  text-decoration: underline;
}

button.question:hover {
  cursor: pointer;
  text-decoration: none;
}

/* faqs */

.faq-item {
  margin-bottom: 3rem;
}

.btn {
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  border-radius: 20px;
  transition: background 191ms ease-out;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.25);
}